body { 
    background-color: white;
    font-family: serif;
    font-size: large;
}

.navbar {
    background-color: #e0ecf0;
    overflow: hidden;
    border-bottom: 1px solid black;
    padding: 10px;
    
}

.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.navbar a {
    color: black;
    font-size: 20px;
    text-decoration: double;
    padding: 14px 16px;
}
.navbar a:hover {
    color: burlywood;
    text-decoration: double;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    margin-top: auto;
    margin-right: 30px;
}

.box section {
    margin-left: 20px;
    margin-top: 40px;
}

.box section p {
    font-size: larger;
    width: 600px;
    float: none;
}

.box section h1 {
    font-size: xx-large;
}

.box section ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content:space-evenly; 
}
 
.icons { 
    font-size: 40px;
}
.icon1 {
    color: #34abe2;
}
.icon2 {
    color: #34abe2;
}
.icon3 {color: #34abe2;}

.icons :hover {
    color: burlywood;
}

.kids {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.kids img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;

}

.section2 {
    position: relative;
    transform: translateY(25%);
    text-align: center;
    max-width: auto;
    margin: 0 auto;
    font-size: larger;

}


.section3 {
   margin-top: 100px;
   border: 5px solid lightblue;
   padding: 20px;
   width: 50%;
   margin-left: 25%;

}

 .section3 h3 {
    font-size: larger;
    text-align: center;
    max-inline-size: ;
 }

footer {
    background-color: #e0ecf0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.list1 {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .list2 {
    flex-shrink: 0;
  }

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
}
 
footer ul li {
    margin-left: 20px;
}









