* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

div#nav {
    text-align: center;
    background-color: #008B8B;
    color: #fffff0;
  }

  div#nav ul{
    display: inline-block;
  }


h1 {
    color: darkkhaki;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


.first-div {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: whitesmoke;
  font-size: 15px;
  margin: 5px;
  padding: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 15px;
    margin: 5px;
    padding: 50px;
}

.footer {
  text-align: center;
  font-size: 10px;

}

