* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}



h1 {
    color: darkkhaki;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 15px;
    margin: 5px;
    padding: 50px;
}

.ul {
    text-align: left;
}

.footer {
  text-align: center;
  font-size: 10px;

}

