* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: wheat;
  color: goldenrod;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: grey;
  padding: 20px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: whitesmoke;
}


h1 {
    color: darkkhaki;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


.first-div {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: whitesmoke;
  font-size: 15px;
  margin: 5px;
  padding: 50px;
}


.image-div {
    display: flex;
    justify-content: center;
    background: grey;
    margin: 30px;
    padding: px;
}

.footer {
  text-align: center;
  font-size: 10px;

}

